input[type="submit"]	{
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform:uppercase;
  padding:10px 15px;
  letter-spacing:0;
  line-height:14px;
  cursor:pointer;
  border-radius:3px;
  transition:all 0.3s ease 0s;
  -moz-transition:all 0.3s ease 0s;
  -webkit-transition:all 0.3s ease 0s;
  -o-transition:all 0.3s ease 0s;
  text-align:center;
}


.newsletter {
  //  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  //display: -ms-flexbox;  /* TWEENER - IE 10 */
  //display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  //display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  //
  //-webkit-justify-content: center;
  //justify-content: center;
  //
  //-webkit-align-items: center;
  //align-items: center;
  //
  //-webkit-flex-direction: row;
  //flex-direction: row;



  .newsletter_input_fields{
    //width: 100%;

    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /* tweak the where items line up on the row */
    /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
    -webkit-align-content: space-around;
    align-content: space-around;

  }

  .mc-field-group {



    > input[type=text], input[type=date], input[type=email]{

      padding: 12px 30px 12px 12px;
      font-size: 13px;
      color: #444;

      border-radius: 5px !important;
    }
    > textarea {
      //width: 210px;
      padding: 12px;
      font-size: 13px;
      color: #444;
      border: none;
      display: block;
      border-radius: 5px !important;
    }

  }

  .newsletter_button {
    margin-top: 20px;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform:uppercase;
    padding:10px 15px;
    letter-spacing:0;
    line-height:14px;
    cursor:pointer;
    border-radius:3px;
    transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -webkit-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    text-align:center;

    &:hover {
      background-color: white;
      color: #AAAAAA;
      transition: background-color .5s ease, color .5s ease;

    }

  }

}