$menu-height: 50px;

$aqua: #70DBF2;
$beige: #F5F2E7;
$white: #FFF;
$seafoam: #AAF7E2;

//Section Background Colors
$tapRoomColor: #70DBF2;
$onTapColor: #AAF7E2;
$beerInfoColor: #F5F2E7;
//$eventsColor: #AAF7E2;
$eventsColor: $aqua;
$newsletterColor: $beige;
$photosColor: $seafoam;
$contactColor: $aqua;
$footerColor: $white;