<!-- Container -->
<div class="container padBottomContainer">

    <!-- Section Title -->

    <div class="row">
        <div class="section-title">
            <div class="col-sm-12">
                <h1 class="text-center">Contact Us</h1>
                <span class="border"></span>
            </div>
        </div>
    </div>
    <!--/Section Title -->


    <div class="row">



        <!-- Phone -->
        <div class="col-md-4" >


        </div>

        <!-- Map -->
        <div class="col-md-8" >
            <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
                <ui-gmap-marker
                        idKey='marker.id'
                        coords='marker.coords'
                        options='marker.options'
                        >
                </ui-gmap-marker>
            </ui-gmap-google-map>

        </div>



    </div>



</div>
<!--/Container -->