<!-- Container -->
<div class="container padBottomContainer">

    <!-- Section Title -->

    <div class="row">
        <div class="section-title">
            <div class="col-sm-12">
                <h1 class="text-center">On Tap Now</h1>
                <span class="border"></span>
            </div>
        </div>
    </div>
    <!--/Section Title -->


    <div class="row">
        <!-- PERMTAPS -->
        <div class="col-md-4" >
            <h4 class="categoryName">Permanent Taps</h4>
            <ul class="columnGroup">
                <li ng-repeat="beer in permItems" class="slats">
                    <span ng-if="beer.out" ng-class="{slatOUT: beer.out}">OUT</span>
                    {{beer.name}}
                <div class="pull-right" ng-class="{slat_style: beer.style.length < 13, slat_style_long: beer.style.length >= 13}">
                    {{beer.style}}
                </div>
                </li>
            </ul>
        </div>

        <!-- Seasonal -->
        <div class="col-md-4" >
            <h4 class="categoryName">Seasonal / One-Offs</h4>
            <ul class="columnGroup">
                <li ng-repeat="beer in seasonalItems" ng-if="beer.onTapNow" class="slats">
                            <span ng-class="{name_long:beer.name.length >= 17}">
                                {{beer.name | fixCaseAndIPA}}
                            </span>
                            <div class="pull-right" ng-class="{slat_style: beer.style.length < 13, slat_style_long: beer.style.length >= 13}">
                                {{beer.style | fixCaseAndIPA}}
                            </div>
                </li>
            </ul>
        </div>

        <!-- GUEST BEERS -->
        <div class="col-md-4">
            <h4 class="categoryName">Guest Beer</h4>
            <ul class="columnGroup">
                <li ng-repeat="beer in guestItems" ng-if="beer.onTapNow" class="slats">
                            <span ng-class="{guestbeer: beer.brewery.length + beer.name.length < 22, guestbeer_long:beer.brewery.length + beer.name.length >= 22}">
                                {{beer.brewery}} - {{beer.name}}
                            </span>
                            <span class="pull-right" ng-class="{slat_style: beer.style.length < 13, slat_style_long: beer.style.length >= 13}">
                                {{beer.style}}
                            </span>
                </li>
            </ul>
            <h4 ng-if="sizeOfGuestItems(guestItems) === 0" class="noGuest">We don't have any guest beers on tap right now. Check back later!</h4>
        </div>


    </div>



</div>
<!--/Container -->